<!DOCTYPE html>
<html>
<head>
  <title>Happy Paws</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" media="screen" href="css/style.css"/>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>



</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
  <a class="navbar-brand" href="/"><img alt="logo" src="static/paws.png" width="50" height="50"> HAPPY PAWS </a>
        <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          
        </ul>
      </div>
  </div>
</nav>

<br>
	<div id="home" class="container-fluid">
	<h2> How can we help you? </h2>
	<nav class="nav nav-tabs nav-justified" id="myTab" role="tablist">
		<a class="nav-item nav-link active" id="nav-sitter-tab" data-toggle="tab" href="#sitter" role="tab" aria-controls="nav-philosophy" aria-selected="true">How to find your sitter</a>
		<a class="nav-item nav-link" id="nav-pet-tab" data-toggle="tab" href="#pet" role="tab" aria-controls="nav-team" aria-selected="false">How to find a pet to sit</a>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="sitter" role="tabpanel" aria-labelledby="nav-sitter-tab">
			<div class="jumbotron">
				<div class="container">
				  <div class="row">
					<div class="col">
					  <p>Love animals & adventure? Become a sitter for just ₹7990.00 a year & stay in amazing places by keeping pets company while their owners are away.</p>
					</div>
					<div class="col">
						<div class='embed-container'>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Vv6O6NPqHyw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
				  </div>
				 </div>
			</div>
      <div class="container fluid" style="background-color:#61C0BF; padding:50px">
        <h2> Why members love Happy Paws </h2>
        <div class="row ">
         <div class="col-sm-6">
           <img class="img1 slideanim" src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/find-a-sitter/HO-happier-pets.svg" style="width:68px">
           <p>Feel free to travel knowing your pets can stay happy at home </p>
         </div>
         <div class="col-sm-6">
            <img class="img1 slideanim" src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/find-a-sitter/HO-verified-sitters.svg" style="width:68px">
           <p> Feel safe & secure — choose from reviewed & verified sitters </p>
         </div>
       </div>
       <div class="row">
        <div class="col-sm-6">
           <img class="img1 slideanim" src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/find-a-sitter/HO-free.svg" style="width:68px">
          <p>Pay once to unlock a year of home & pet care </p>
        </div>
        <div class="col-sm-6">
           <img class="img1 slideanim"src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/find-a-sitter/HO-star-members.svg" style="width:68px">
          <p>Vets agree it’s the pet care option animals prefer </p>
        </div>
      </div>
      </div>
      <div class="container fluid ">
      <h2> Here's how it works </h2>
      <center><img class="slideanim" src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/steps/HO-step1.svg" style="width: 136px;  height: 120px" ></center>
      <h2>Sign up </h2>
      <p>Create a good-looking listing packed with plenty of information & cute pet pictures </p>

      <center><img class="slideanim" src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/steps/HO-step2.svg" style="width: 136px;  height: 120px"></center>
      <h2>Search for a sitter</h2>
      <p>Add dates to your listing to receive applications & secure your perfect sitter</p>

      <center><img class="slideanim" src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/steps/HO-step3.svg" style="width: 136px;  height: 120px"></center>
      <h2>Set off</h2>
      <p>Prepare for your sitter, travel with peace of mind & return home to happy pets</p>

      <br><br>
        </div>
        <center><a class="btn btn-default" href="/findsitters" style="background:#61C0BF; padding:12px" >Find your sitter</a></center>
      </div>


		<div class="tab-pane fade" id="pet" role="tabpanel" aria-labelledby="nav-pet-tab">
			<div class="jumbotron">
				<div class="container">
          <div class="row">
          <div class="col">
            <p>Love animals & adventure? Become a sitter for just ₹7990.00 a year & stay in amazing places by keeping pets company while their owners are away.</p>
          </div>
          <div class="col">
            <div class='embed-container'>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/JGjtopH-Yes" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
          </div>
         </div>
      </div>

  <div class="container fluid" style="background-color:#61C0BF; padding:50px">
    <h2> Why members love Happy Paws </h2>
    <div class="row">
     <div class="col-sm-6">
        <img class="img1 slideanim" src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/find-a-sitter/HO-happier-pets.svg" style="width:68px">
       <p>Pay once to unlock a year of accommodation </p>
     </div>
     <div class="col-sm-6">
        <img class="img1 slideanim"src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/find-a-sitter/HO-verified-sitters.svg" style="width:68px">
       <p> Say goodbye to guidebooks & experience life as a local</p>
     </div>
   </div>
   <div class="row">
    <div class="col-sm-6">
       <img class="img1 slideanim" src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/find-a-sitter/HO-free.svg" style="width:68px">
      <p>A passport to stay in unique places around the world</p>
    </div>
    <div class="col-sm-6">
       <img class="img1 slideanim"src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/find-a-sitter/HO-star-members.svg" style="width:68px">
      <p> Fill a pet-shaped hole in your heart while you travel </p>
    </div>
  </div>
  </div>

  <div class="container fluid">
  <h2> Here's how it works </h2>
  <center><img  class="slideanim" src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/steps/HO-step1.svg" style="width: 136px;  height: 120px"></center>
  <h2>Sign up </h2>
  <p>Create a standout profile with plenty of pictures, references & a trust badge </p>

 <center><img  class="slideanim" src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/steps/HO-step2.svg" style="width: 136px;  height: 120px"></center>
  <h2>Search for a pet to sit</h2>
  <p>Browse homes & pets around the world, write awesome applications & confirm an exciting sit</p>

 <center><img  class="slideanim" src="https://www.trustedhousesitters.com/static/next/dist/images/icons/how-it-works/steps/HO-step3.svg" style="width: 136px;  height: 120px"></center>
  <h2>Start your adventure</h2>
  <p>Put plans in place, meet your new pet pals & enjoy making wonderful memories</p>

<br><br>
  </div>
  <center><a class="btn btn-default" style="background:#61C0BF; padding:12px"  href="/BecomeaHost">Become a host </a></center>
</div>


<footer class="footer-wrapper fixed-bottom">
	<div class="row">
	<div class="col-8">
		<div class="social-media-icons">
			<i class="fa fa-facebook-square fa-2x"></i>
			<i class="fa fa-twitter-square fa-2x"></i>
			<i class="fa fa-instagram fa-2x"></i>
		</div>
	</div>
	<div class="col-4">Happy Paws | Copyright &copy; 2017</div>
	</div>
</footer>

<script>
$(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 600) {
      $(this).addClass("slide");
    }
  });
});
</script>

</body>
</html>
