
  <body>

      <div class="container">
        <h1>Happy Paws Sign up Page</h1>
        
      <form action="" class="form-inline" method="post">
                      <input type="text" class="form-control" placeholder = "Email" name="email" value="{{request.form.email}}">
            <br><br>
            
            <input type="password" class="form-control" placeholder = "Password" name="password" value="{{request.form.password}}">
            
            <br><br>
          
            <br><br>

      <input class="btn btn-default" type="submit" value="SignUp">
    </form>
      </div>
  </body>